.comment_btn {
    margin-bottom: 1.5em;
}

.comment_part_in_comment {
    padding-left: 5em;
}

.comment_overlay {
    padding: 2em;
}

.comment_title {
    color: black;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}